
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100vw;
    height: 12vh;
    background-color: #fdfdfb;
    border-bottom: 1px solid rgb(132, 132, 132);
    box-shadow: 0px 12px 13px -5px rgba(124, 124, 130, 1);
    display: flex;
    justify-content: space-between;
}
header .headerTitle{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-left: 10%;
}
header .headerTitle p{
    padding-bottom: 1.8%;
}
nav {
    width: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5%;
}

nav a {
    position: relative;
    padding-bottom: 2%;
    padding-right: 5%;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-weight: 500;
    overflow: hidden;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -1px;
    left: 0;
    background-color: rgb(22, 46, 82);
    transition: width 0.3s ease; 
}

nav a:hover::after {
    width: 90%; 
}
/*chart page*/


main{
    width: 100vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input-value{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    width: 20vw;
    padding-top: 6vh;
    padding-left: 8vw;
    padding-right: 2vw;
}

.input-dropdown{
    position: relative;
    width: 100%;
    height: 6vh;
}
.input-option{
    z-index: 1000;
}

.dateFrom, .dateTo {
    height: 12vh;
    padding: 3vh 0;
    margin-top: 3vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.dateFrom label, .dateTo label {
    margin-bottom: 15px;
    margin-right: 20px;
    text-emphasis: 1;
}
.dateFrom label, .dateTo label{
    font-size: 1.8rem;
}
.dateFrom input, .dateTo input{
    height: 100%;
    font-size: 1.2rem;
    background: url(images/calendar-icon.png);
    background-repeat: no-repeat;
    background-position: 90% 60%;
    padding: 0 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(22, 46, 82, 0.5);
    border-radius: 10px;
}
.next-currency-btn{
    display: flex;
    align-items: center;
    height: 12vh;
    padding: 3vh 0;
    margin-top: 3vh;
}
.next-currency-btn button{
    color: rgb(22, 46, 82);
    padding: 0 20px;
    height: 100%;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(22, 46, 82, 0.5);
    border-radius: 10px;
    transition: 1s;
}
.next-currency-btn button:hover{
    background-color: rgb(22, 46, 82);
    color: #fff;
}

.first-input-container{
    display: flex;
    justify-content: center;
    margin-bottom: -2vh;

}
.second-input-container{
    display: flex;
    justify-content: center;
    margin-top: -2vh;
    opacity: 1;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.chartError{
    width: 100vw;
    height: 5vh;
    text-align: center;
}

.chartError p{
    font-size: 1.8rem;
    color: #F00;
}
.chart{
    background-color: #FFF;
    width: 60vw;
    height: 58vh;
    margin-left: 20vw;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
    display: flex;
    justify-self: center;
}